build/
xcuserdata
doxygen_objdb_*
.DS_Store

*~
*.link
*.a
*.o
*.so
*.slo
*.lo
*.lai
*.la
*.lib
*.spec
*.d
*.framework
*.perspectivev3
*.pbxuser
*.mode1v3
*.xcworkspace
*.tm_build_errors
*.ncb
*.suo
*.vcproj.*
*.wwdb

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.opensdf
*.sdf
*.ipch
[Ii]pch/
